<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato" type="text/css"></link>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></link>
        <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css"></link>
        <link rel="stylesheet" href="img/kiss.css" type="text/css"></link>
        <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
        
    </head>
    <body>
        <h1>Sign up for Le Dance!</h1>
 
        <form action="#" th:action="@{/registrations}" th:object="${registration}" method="POST">
            <table>
                <tr>
                    <td>Username: </td>
                    <td><input type="text" th:field="*{name}" /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Virheviesti</td>
                </tr>
                
                <tr>
                    <td>Email: </td>
                    <td><input type="text" th:field="*{email}" /></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Virheviesti</td>
                </tr>
                <tr>
                    <td><button type="submit" value="Sign up" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">Sign up</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>