<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Miau to Catstagram!</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Miau to Catstagram!</h1>
        <h2>Top-10 Most Followed Cats!</h2>

        <ol>
            <li th:each="cat : ${cats}">
                <span th:text="${cat.name + ': ' + cat.age + ' vuotta, 0 seuraajaa'}">msg</span>
            </li>
        </ol>

        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout"></input>
        </form>

    </body>
</html>
