<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Miau to Catstagram!</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <style>
            .center { text-align: center; list-style-position:inside;}
        </style>

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato" type="text/css"></link>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></link>
        <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css"></link>

        <link rel="stylesheet" href="img/kiss.css" type="text/css"></link>
        <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    </head>

    <body background="img/back.jpg">
        <div align ="center">
            <h1>You have entered Catstagram</h1>
            <h2>Here are our Top-10 Most Followed Cats!</h2>

            <ol class="center">
                <li th:each="cat : ${cats}">
                    <span th:text="${cat.name + ': ' + cat.age + ' vuotta, 0 seuraajaa'}">msg</span>
                </li>
            </ol>

            <form th:action="@{/logout}" method="POST">
                <!--<input type="submit" value="Logout"></input>-->
                <button type="submit" value="Logout" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Logout
                </button>
            </form>

        </div>
    </body>
</html>
