<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Miau to Catstagram!</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <style>
            form {
                display: inline;
            }
        </style>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato" type="text/css"></link>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></link>
        <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css"></link>
        <link rel="stylesheet" href="img/kiss.css" type="text/css"></link>
        <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>

    </head>
    <body background="/img/back.jpg">
        <div align="center">
            <img src="/img/index.png" alt="picture of kittens"/>
            <h1>Miau to Catstagram!</h1>

            <form th:action="@{/cats}" method="POST">
                <!-- <input type="submit" value="Click here to login!"></input>-->

                <button type="submit" value="Login!" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Log in
            </button>

                
                
                
            </form>
<!-- <<<<<<< HEAD 

            <form th:action="@{/register}" method="POST">

                <input type="submit" value="Sign up"></input>
                
            </form>
 ======= -->
            <form th:action="@{/regis}" method="POST">
                <button type="submit" value="Sign up" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">Sign up</button>
<!-- >>>>>>> 99f4087e223451bf06e350e53db0475125122a56 -->
            </form>

        </div>
    </body>

</html>
