<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Miau to Catstagram!</title>
        <meta charset="UTF-8"/>
        <style>
            form {
                display: inline;
            }
        </style>

    </head>
    <body background="/img/back.jpg">
        <div align="center">
            <img src="/img/index.png" alt="picture of kittens"/>
            <h1>Miau to Catstagram!</h1>

            <form th:action="@{/cats}" method="POST">
                <input type="submit" value="Click here to login!"></input>
            </form>
            <form th:action="@{/regis}" method="POST">
                <input type="submit" value="Sign up"></input>
            </form>

        </div>
    </body>

</html>
